.selected-image{
    width:100%;
    opacity: 0.8;
    margin-bottom: 10px;
    height: 150px;
    transition: transform 0.45s;
}

.selected-image:hover{
    transform: scale(1.25);
}

.links{
    color:gray;
    margin-right: 20px;
   
}
.links:hover{
    color:gray;
    
}
.links:active{
    color:black
}